
.my-btn-primary {
	background: linear-gradient(180deg, #283A97 0%, #0157A0 100%);
	transition: .2s;
}


.container-main {
	display: flex;
	padding-top: 50px;
	max-width: 1920px;
	margin: 0 auto;
	gap: 30px;
	padding: 50px 20px;
	font-weight: 500 !important;
	justify-content: center;
}

.header-table {
	background: linear-gradient(180deg, #004A89 0%, #005BA9 100%) !important;
	border: 1px solid #D9D9D9 !important;
	border-radius: 15px !important;
	width: 100%;
	padding: 28px 80px 28px 24px !important;
	display: flex !important;
	align-items: center !important;
	color: white !important;
	gap: 30px !important;
	margin-bottom: 50px !important;
}

.presents {
	justify-self: flex-end ;
}

.border-main {
	top: 244px;
	left: 450px;
	width: 1px;
	background: #D9D9D9;
	height: 600px;

}

.main-manu {
	display: flex;
	flex-direction: column;
	gap: 30px;
	border-right: 1px solid #D9D9D9;
	height: 100vh;
}

.manu-item {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	gap: 76px;
}

.border {
	width: 100%;
	height: 1px;

	background: #D9D9D9;
}