* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: 'Roboto', sans-serif
}

@font-face {
	font-family: 'Arial';
	src: url('../fonts/arialmt.ttf');
}
@font-face {
	font-family: 'Panton';
	src: url("../fonts/Panton-Regular.ttf");
}
/* header */

.container {
	margin: 0 auto;
	max-width: 1920px;
}

.wrap {
	padding: 31px 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__all {
	display: flex;
	align-items: center;
}

.header__all_soc {
	gap: 21px;
}

.header__all_text {
	gap: 35px;
}

.header__text__item {
	transition: .2s;
	font-family: 'Roboto';
	font-size: 15px;
	color: #AAAAAA;
}

.header__text__item:hover {
	color: #01678A;
}

.header__all_loc {
	gap: 15px;
}

.header__loc__text {
	display: flex;
	flex-direction: column;
}

.header__loc__item {
	font-family: 'Arial';
	font-size: 15px;
	color: #474747;
}

.header__all_rasp {
	gap: 11px;
}

.header__rasp__time {
	font-family: 'Panton';
	font-size: 15px;
	text-align: right;
	color: #12354B;
}

.header__rasp__day {
	font-family: 'Panton';
	font-size: 15px;
	color: #919191;
}

.header__all_number {
	gap: 8px;
}

.header__number__item {
	font-family: 'Panton';
	font-weight: 700;
	font-size: 18px;
	color: #3C3C3C;
}

.header__all_btn {
	border: none;
	padding: 12px 26px;
	background: #38BCEA;
	border-radius: 3px;
	font-family: 'Roboto';
	justify-content: center;
	font-weight: 400;
	font-size: 15px;
	color: #FFFFFF;
	transition: .2s;
	cursor: pointer;
}

.header__all_btn:hover {
	border: #38BCEA;
	background: gray;
}

/* main */

/* 1 seciton */
.container_title {
	background: url('../img/Group\ 20.png')no-repeat;
}
.content {
	position: relative;
	padding: 146px 130px;
}

.title__block {
	display: flex;
	flex-direction: column;
	gap: 26px;
	align-items: flex-start;
}

.title__text {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 20px;
	color: #4E4E4E;
}

.title {
	font-family: 'Panton';
	font-weight: 700;
	font-size: 48px;
	color: #1A3444;
}

.header__all_btn_title{
	padding: 20px 36px;
	font-size: 20px;
	box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
	border-radius: 2px;
}

.title__cards {
	right: 0;
	left: 0;
	bottom: -35px;
	position: absolute;
	display: grid;
	grid-template-columns: 39% 20% 39%;
	gap: 1%;
}

.title__card__item {
	align-items: center;
	display: flex;
	gap: 35px;
	padding: 30px;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(9.5px);
	transition: 0.2s;
	cursor: pointer;
}

.title__card__item_left {
	justify-content: flex-end;
}

.title__card__item_center {
	justify-content: center;
}

.title__card__item_right {
	justify-content: flex-start;
}

.title__card__item:hover {
	margin-top: -13px;
}

/* 2 section */

.wrap__2__sec {
	padding: 113px 130px ;
	display: flex;
	flex-direction: column;
	gap: 70px;
}

.sec__2__cards {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 40px;
	justify-content: center;
}

.sec__2__content {
	padding: 40px 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}



.sec__2__text {
	font-family: 'Panton';
	font-weight: 700;
	font-size: 26px;
	text-align: center;
}

.sec__2__img__white {
	display: none;
	transition: .2s;
}

.sec__2__img__blue {
	transition: .2s;
}

.sec__2__under {
	background: #FFFF;
	display: flex;
	opacity: 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 50px;
	transition: .2s;
}

.sec__2__card__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #FBFBFB;
	border-radius: 5px;
	transition: .2s;
	cursor: pointer;
}

.sec__2__card__item:hover .sec__2__under {
	opacity: 1;
}

.sec__2__card__item:hover {
	background: #38BCEA;
	color: #ffff;
	box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
}

.sec__2__card__item:hover .sec__2__img__white {
	display: initial;
}

.sec__2__card__item:hover .sec__2__img__blue {
	display: none;
}

/* sec 3 */

.sec__3__main {
	background: #FBFBFB;
}

.wrap__sec__3 {
	padding: 120px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.sec__3__cards {
	display: flex;
	gap: 20px;
}

.sec__3__card__elem {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background: #ffff;
	padding: 50px 30px;
	max-width: 520px;
}



.sec__3__num {
	font-family: 'Panton';;
	font-weight: 400;
	font-size: 48px;
	color: #38BCEA;
}

.title__text_hjfj {
	width: 450px;
	font-size: 24px;
}

/* sec 4 */
.container_sec__4 {
	padding: 150px 0px;
}

.sec__4__wrap {
	padding: 63px 140px;
	background: linear-gradient(84.27deg, #E6F2FF 0%, #FAF1ED 100%);
}

.sec__4__content {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title__text_hjfj_gf span {
	color: #0079FF;
}

.title__text_hjfj_gf {
	width: 100%;
}

.sec__4__form {
	display: flex;
	gap: 20px;
}

.ces__4__input {
	border: 0px;
	padding: 20px;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 20px;
	color: #BBBBBB;
}

.title__text_gkf span {
	text-decoration: underline;
	cursor: pointer;
}